p {
      font-family: Arial;
    }

h1 {
  color: maroon;
}

.title {
  color: teal;
}

.uppercase {
  text-transform: uppercase;
}
/* Added uppercase class to style.css and add class to h1 element in html */
