p {
      font-family: Arial;
    }

h1 {
  color: maroon;
}

.title {
  color: teal;
}

.uppercase {
  text-transform: uppercase;
}

.publish-time {
  color: gray;
}

.cursive {
  font-family: cursive;
}

.capitalize {
  text-transform: capitalize;
}
/* Deleted id and added class in html and added a class selectors in css to make things less specific */
